<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Handwritten Recognition</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="/static/assets/dist/css/vendor/bootstrap.min.css" rel="stylesheet">

    <!-- Loading Flat UI Pro -->
    <link href="/static/assets/dist/css/flat-ui.css" rel="stylesheet">

    <link href="/static/assets/dist/css/styles.css" rel="stylesheet">
  </head>
  <body style="background: #fff !important;">


  <nav class="navbar navbar-inverse navbar-embossed navbar-expand-lg" role="navigation">
    <div class="container">
      <a class="navbar-brand" href="/">Handwritten Recognition</a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse-01"></button>
      <div class="collapse navbar-collapse" id="navbar-collapse-01">
      </div>
    </div>
  </nav>

  {% block konten %}
{% endblock %}
